.title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
    background-color: black;;
    font-family: 'Righteous' ;
  }